/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10/06/2017, 19:47:56
    Author     : gustavo
*/
/*Formatação geral*/
*{
    font-family: arial;
    font-size: 12pt;
    box-sizing: border-box;
}

.containner{
    width: 1200px;
    margin: 0 auto;
}

header{
    padding: 10px;
    border-top: 2px solid #658404;
    background-image: url(../img/banner.jpg);
    height: 110px;
    background-size: 100%;
    background-repeat: no-repeat
}

header h1{
    position: relative;
    left: 75px;
    top:-50px;
    font-size: 20pt;
}

a{
    text-decoration: none;
    cursor: pointer;
}

ul{
    list-style-type: none;
}

.list-acoes{
    position: relative;
    top:-100px;
    right: 50px;
    float: right;    
}

.list-acoes li{
    display: inline;
    padding: 10px;
}

.list-acoes li img{
    position: relative;
    top:3px;
    padding-right: 5px;
}

.list-acoes li a{
    font-size: 8pt;
    color: #404040;
}

nav.navbar{
    position: relative;
    top: -16px;
    background-color: #658404;
    width: 100%;
    height: 22px;
    margin: 0;
    padding: 0; 
}

/*Começa código do menu drop-down*/
ul.listaMenu li{
    margin: 0;
    top: -30px;
    position:relative;   
    float:left; 
}

.lista_default{
    padding-left: 15px;
    padding-right: 15px;
    border-right: 1px #ffffff solid;
}

ul.listaMenu li a{
    font-size: 8pt;
    color: #ffffff;
    font-weight: bold;   
    padding:3px 8px 1px;
    text-align: center;
    display: block;
}

/*Trocar a cor do texto*/
ul.listaMenu li a:hover{
    
    text-decoration:underline;      
    
    color: #000100;
    }
    
    
.listaMenu li .dropdown-content li a:hover{
    background-image:linear-gradient(to bottom, #ccd5cd, #cdd5cc); 
   color: #000100;

}

.listaMenu li  .dropdown-content{   
    padding: 0;   
    margin: 0;
    position:absolute;    
    left: 10px;
    top: 18px;
    display:none;
    border: 1px solid #E6E6E6;
    background-color: #9E9E9E; 
}	

/*Exibe menu drop-down*/
.listaMenu li:hover .dropdown-content,
.listaMenu li.over .dropdown-content{      
    display:block;
    
}

/*Ajustes*/
.listaMenu li .dropdown-content li a{ 
    position: relative;
    text-align: left;
    top: 30px;   
    color: #E6E6E6;
    background-color: #8a9588;
    border-bottom: 1px solid #E6E6E6;
    font-weight: normal;
    display:block; 
}

/*Tipo de menu*/
.listaMenu li .dropdown-content .menu_lista_curta {
    text-align: center;
    padding: 5px 2px 5px 5px;  
    width: 160px;
}

.listaMenu li .dropdown-content .menu_lista_grande{   
    position: relative;
    padding: 20px 2px 20px 3px;
    width: 220px;
    
}


/*Formatação da Div geral*/
#principal{
    margin-top: -10px;
    padding: 15px;
    box-shadow: 0 7px 10px #011E3A;
}

.center_data{
    width: 850px;
    margin: 0 auto;
    padding: 20px;
}

.dados_user{
    width: 100%;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    height: 300px;
}

.dados_user_page{
    text-align: center;
    text-align: left;
    padding:10px;
    width: 500px;

}

.dados_user_page span{
    font-size: 10pt;
    margin-left: 70px;
}

.dados_user strong{
    font-size: 20pt;
}

.title{
    width: 1200px;
    padding: 30px;
    margin: 0 auto;
}

.title hr{
    width: 1110px;
    border-top: 1px solid #ccc;
}

table{
    margin-top: 10px;
    margin-bottom: 10px;
    border-collapse: collapse;
    width: 900px;
}

#consultaDocumentos{
    padding: 25px;
}

#consultaDocumentos table{
    width: 1000px;
    margin: 0 auto;
}

table th{
    color: #ffffff;
    background-color: #0066cc;
    font-weight: normal;
}

table th,td{
    text-align: center;
    border: 1px solid #999999;
    padding: 5px;
    font-size: 11pt;
}

.action_link{
    margin-left: 50px;
    border: 1px solid #666;
    border-right: 2px solid #666;
    border-bottom: 2px solid #666;
    border-radius: 3px;
    background-color: #CCC;
    color: #000;
    padding: 2px 25px;    
    font-size: 9pt;
    font-weight: bold;
}

.action_link:hover{
    border: 1px solid #ffffff;
    border-right: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    background-color: #999999;
    color: #990033;
}